  <div class="head">
  <header class="header">
    <div class="container top-bar">
      <a href="/index.html">
        <img src="/img/logo.png" alt="Логотип компании" class="logo" />
      </a>
      <div class="header-info">
        <span id="OOO">ООО《Оптом Ланфан》по импорту и экспорту</span>
        <span class="header-slogan">Импорт и экспорт автозапчастей и оборудования из Китая</span>
      </div>
      <div class="contacts">
        <a href="tel:+86-15075603580" class="phone"></i>86 15075603580</a>
        <a href="mailto:lfobdm@163.com" class="email"><i class="fa fa-envelope"></i> lfobdm@163.com</a>
        <!-- <a href="https://t.me/yourtelegram" class="telegram"><i class="fa fa-telegram"></i></a> -->
      </div>
    </div>
  </header>
  <button class="burger" id="burger-menu" aria-label="Открыть меню" aria-expanded="false">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</button>

<!-- Мобильное меню -->
<div class="mobile-menu" id="mobileMenu">
  <nav class="mobile-nav">
    <a href="/index.html">Главная</a>
    <a href="/products.html">Каталог</a>
    <a href="/about.html">О компании</a>
    <a href="/writing.html">Запись</a>
    <a href="/contacts.html">Контакты</a>
    <div class="search-bar">
          <input type="text" id="searchInput" placeholder="Поиск товара">
          <button onclick="searchProduct(this.previousElementSibling)" class="search-button"><i class="fa fa-search"></i></button>
    </div>
    <div class="qr">
          <img src="/img/qr.png" alt="Qr-код" class="qr-code menu-item photo" title="qr-code">
        </div>
  </nav>
</div>
</div>
 <div class="container">
    <div class="container-menu-bar">
       <div class="mobile-menu-popup" id="mobileMenuPopup">
      <nav class="nav">
        <a href="/index.html" class="menu-item" title="Главная" id="index-item">Главная</a>
        <div class="menu-item dropdown" id="catal">
          <span><a href="/products.html">Каталог</a></span>
          <!--#catalog-->
        </div>
        <a href="/about.html" class="menu-item" title="О компании">О компании</a>
        <a href="/writing.html" class="menu-item" title="Запись">Запись</a>
        <a href="/contacts.html" class="menu-item" title="Контакты">Контакты</a>
        <div class="search-bar">
          <input type="text" id="searchInput" placeholder="Поиск товара">
          <button onclick="searchProduct(this.previousElementSibling)" class="search-button"><i class="fa fa-search"></i></button>
        </div>
        <div class="qr">
          <img src="/img/qr.png" alt="Qr-код" class="qr-code menu-item photo" title="qr-code">
        </div>
      </nav>
    </div>
    </div>
 </div>
